<%= form_for(guide) do |f| %>
  <% if guide.errors.any? %>
    <div id="error_explanation">
      <h2> <%= pluralize(guide.error.count, "error") %> prohibited this blog from being saved:</h2>
      <ul>
        <%= guide.error.full_message.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>    
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title, class: 'form-control', placeholder: "Title" %>
  </div>

  <div class="form-group">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>

<% end %>