<div class="col-sm-8 blog-main">

<h2><%= @guide.title %></h2>

<p><%= @guide.topic.title %></p>

<%= link_to 'Edit', edit_guide_path(@guide) if logged_in?(:site_admin) %>

<p>
	<%= markdown @guide.content %>
</p>

<%= render 'comments/comment_form' %>

<div id="comments" data-guide-id="<%= @guide.id %>">
	<%= render @guide.comments %>
</div>

</div>
